@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1e3dd ;
  font-family: "Neucha", cursive;
}

.heading{
  text-transform: uppercase;
  font-size: 60px;
  margin: 30px 0;
  color:  #8d9db6;
  z-index: 1;
  text-align: center;
}

@media (max-width: 800px) {
  .heading{
      margin: 15px 0;
      font-size: 35px;
  }
  
}
/* Sky Palettes

HEX: #bccad6

HEX: #8d9db6

HEX: #667292

HEX: #f1e3dd 
*/