@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
* :not(span){
  font-family: "Neucha", cursive;
  background-color:#f1e3dd ;
}
.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1e3dd ;
  
}

.heading{
  text-transform: uppercase;
  font-size: 60px;
  display:block;
  margin:0px auto;
  color:  #8d9db6;
  text-align: center;
  padding: 40px ;
}

/* Sky Palettes

HEX: #bccad6

HEX: #8d9db6

HEX: #667292

HEX: #f1e3dd 
*/